In [39]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

# no yelling in the library
import warnings
warnings.filterwarnings("ignore")

from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from math import sqrt
import scipy.stats as stats

import explore
import acquire

In [7]:
#emotify_df = pd.read_csv('emotify.csv')
#key_df = pd.read_csv('AudioKeychain_export.csv')

In [8]:
#emotify_df.head(1)

In [9]:
#emotify_df = emotify_df.rename(columns={'track id':'track_id', ' genre': 'genre', ' amazement':'amazement', ' solemnity': 'solemnity', ' tenderness':'tenderness',
#       ' nostalgia':'nostalgia', ' calmness':'calmness', ' power':'power', ' joyful_activation':'joyful_activation', ' tension':'tension',
#       ' sadness':'sadness', ' mood':'mood', ' liked':'liked', ' disliked':'disliked', ' age':'age', ' gender':'gender',
#       ' mother tongue':'mother_tongue'})

In [10]:
#emotify_df.columns

In [11]:
#emotify_df['genre_id'] = emotify_df["track_id"].astype(str) + emotify_df["genre"].astype(str).str.lower()

In [12]:
#key_df = key_df.rename(columns=str.lower)

In [13]:
#key_df.info()

In [14]:
#key_df.head(1)

In [15]:
#key_df['genre_id'] = key_df["filename"].astype(str) + key_df["genre"].astype(str).str.lower()

In [16]:
#key_df.genre_id

In [17]:
#emotify_df.head(1)

In [18]:
#emotify_plus_df = pd.merge(emotify_df, key_df, left_on='track_id', right_on='track', how='left')

In [19]:
#emotify_plus_df.info()

In [40]:
def new_data():
    '''
    This function takes in 2 seperate csv files
    and merges them together
    then returns a merged pandas dataframe with that data
    '''
    emotify_df = pd.read_csv('emotify.csv')
    key_df = pd.read_csv('AudioKeychain_export.csv')
    emotify_df = emotify_df.rename(columns={'track id':'track_id', ' genre': 'genre', ' amazement':'amazement', ' solemnity': 'solemnity', ' tenderness':'tenderness',
       ' nostalgia':'nostalgia', ' calmness':'calmness', ' power':'power', ' joyful_activation':'joyful_activation', ' tension':'tension',
       ' sadness':'sadness', ' mood':'mood', ' liked':'liked', ' disliked':'disliked', ' age':'age', ' gender':'gender',
       ' mother tongue':'mother_tongue'})
    key_df = key_df.rename(columns=str.lower)
    emotify_plus_df = pd.merge(emotify_df, key_df, left_on='track_id', right_on='track', how='left')
    emotify_plus_df = emotify_plus_df.drop(columns=['track', 'genre_y', 'filename', 'mother_tongue', 'year', 'title'])
    
    
    return emotify_plus_df

In [41]:
emotify_plus_df = new_data()

In [42]:
df = emotify_plus_df

In [43]:
df.head(1).T

                           0
track_id                   1
genre_x            classical
amazement                  0
solemnity                  1
tenderness                 0
nostalgia                  0
calmness                   0
power                      0
joyful_activation          1
tension                    1
sadness                    0
mood                       3
liked                      1
disliked                   0
age                       21
gender                     1
key                      Dbm
bpm                   100.25

In [44]:
df.loc[3800]

track_id               135
genre_x               rock
amazement                0
solemnity                0
tenderness               0
nostalgia                0
calmness                 0
power                    1
joyful_activation        1
tension                  1
sadness                  0
mood                     3
liked                    0
disliked                 1
age                     38
gender                   0
key                     Eb
bpm                  172.5
Name: 3800, dtype: object

In [45]:
df.genre_x.value_counts()

classical     2688
rock          2038
pop           1855
electronic    1826
Name: genre_x, dtype: int64

In [55]:
df.mood.value_counts()

4    3239
3    2776
5    1216
2     833
1     343
Name: mood, dtype: int64

In [48]:
df.key.value_counts()

Am     808
G      575
C      557
Gm     535
D      534
A      475
Bm     456
B      428
F      408
Em     369
Abm    338
Fm     337
Dbm    330
Dm     322
E      303
Ebm    299
Cm     271
Gb     262
Bbm    234
Gbm    222
Ab     133
Db     120
Eb      91
Name: key, dtype: int64

In [50]:
#rename some of the columns for better readability. Do this inside the new_data function

In [50]:
print(df.liked.value_counts())
print(df.disliked.value_counts())

0    5116
1    3291
Name: liked, dtype: int64
0    6650
1    1757
Name: disliked, dtype: int64

In [51]:
3291 + 1757

5048

In [56]:
#possible new features:  positive/negative emotions, major/min key, tempo bins, age bins

#what is the strongest predictor for INDUCED emotions when listening to unfamiliar music?

#my hypothesis is that current mood, key, maj/min and tempo
#i also think that slower tempo will equal sadder emotions, moderate=happy, and fast=unease

#does genre play a role? 
#my hypothesis is that classical and electronic will yield similar results
#and that rock and pop yield similar results

#i'm curious if when mood changes if key, tonality, and tempo still elicit the same induced emotion?

#does age play a role?

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8407 entries, 0 to 8406
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   track_id           8407 non-null   int64
 1   genre_x            8407 non-null   object
 2   amazement          8407 non-null   int64
 3   solemnity          8407 non-null   int64
 4   tenderness         8407 non-null   int64
 5   nostalgia          8407 non-null   int64
 6   calmness           8407 non-null   int64
 7   power              8407 non-null   int64
 8   joyful_activation  8407 non-null   int64
 9   tension            8407 non-null   int64
 10  sadness            8407 non-null   int64
 11  mood               8407 non-null   int64
 12  liked              8407 non-null   int64
 13  disliked           8407 non-null   int64
 14  age                8407 non-null   int64
 15  gender             8407 non-null   int64
 16  key                8407 non-null   object
 17  bpm                8407 non-null   float64
dtypes: float64(1), int64(15), object(2)
memory usage: 1.5+ MB

In [58]:
df.loc[700]

track_id                    16
genre_x              classical
amazement                    0
solemnity                    0
tenderness                   0
nostalgia                    0
calmness                     0
power                        0
joyful_activation            0
tension                      1
sadness                      0
mood                         4
liked                        0
disliked                     0
age                         26
gender                       0
key                         Gm
bpm                     100.25
Name: 700, dtype: object

In [60]:
#Target emotions: Sublime, Energetic, Unease
#Sublime emotions: amazement, solemnity, tenderness, nostalgia, calmness
#Energetic emotions: power, joyful_activation
#Unsettling emotions: tension, sadness

df['ind_sublime'] = df['amazement'] + df['solemnity'] + df['tenderness'] + df['nostalgia'] + df['calmness']
df['ind_energy'] = df['power'] + df['joyful_activation']
df['ind_unease'] = df['tension'] + df['sadness']
df.loc[90]

track_id                     2
genre_x              classical
amazement                    0
solemnity                    0
tenderness                   0
nostalgia                    0
calmness                     1
power                        0
joyful_activation            0
tension                      0
sadness                      0
mood                         3
liked                        1
disliked                     0
age                         51
gender                       0
key                          D
bpm                       95.5
ind_sublime                  1
ind_energy                   0
ind_unease                   0
Name: 90, dtype: object

In [66]:
df.ind_sublime.value_counts()

1    3351
0    2512
2    1912
3     629
4       3
Name: ind_sublime, dtype: int64

In [68]:
df.ind_sublime.value_counts().sum()-2512

5895

In [70]:
df.ind_energy.value_counts()

0    5304
1    2530
2     573
Name: ind_energy, dtype: int64

In [69]:
df.ind_energy.value_counts().sum()-5304

3103

In [63]:
df.ind_unease.value_counts()

0    5334
1    2712
2     361
Name: ind_unease, dtype: int64

In [65]:
df.ind_unease.value_counts().sum()-5334

3073

In [71]:
col         = 'ind_energy'
conditions  = [ df[col] >= 1, df[col] < 1 ]
choices     = [ 1, 0 ]
    
df["energized"] = np.select(conditions, choices, default=0)

In [72]:
df.head(1)

,track_id,genre_x,amazement,solemnity,tenderness,nostalgia,calmness,power,joyful_activation,tension,...,liked,disliked,age,gender,key,bpm,ind_sublime,ind_energy,ind_unease,energized
0,1,classical,0,1,0,0,0,0,1,1,...,1,0,21,1,Dbm,100.25,1,1,1,1

In [73]:
df.energized.value_counts()

0    5304
1    3103
Name: energized, dtype: int64

In [74]:
col         = 'ind_sublime'
conditions  = [ df[col] >= 1, df[col] < 1 ]
choices     = [ 1, 0 ]
    
df["feel_sublime"] = np.select(conditions, choices, default=0)

In [75]:
col         = 'ind_unease'
conditions  = [ df[col] >= 1, df[col] < 1 ]
choices     = [ 1, 0 ]
    
df["agitated"] = np.select(conditions, choices, default=0)

In [76]:
df.feel_sublime.value_counts()

1    5895
0    2512
Name: feel_sublime, dtype: int64

In [77]:
df.agitated.value_counts()

0    5334
1    3073
Name: agitated, dtype: int64

In [78]:
df.key.value_counts()

Am     808
G      575
C      557
Gm     535
D      534
A      475
Bm     456
B      428
F      408
Em     369
Abm    338
Fm     337
Dbm    330
Dm     322
E      303
Ebm    299
Cm     271
Gb     262
Bbm    234
Gbm    222
Ab     133
Db     120
Eb      91
Name: key, dtype: int64

In [83]:
col         = 'key'
conditions  = [ df[col].str.contains(r'(?!$)m'), df[col] != '%m' ]
choices     = [ 1, 0 ]
    
df["minor_key"] = np.select(conditions, choices, default=0)

In [84]:
df.minor_key.value_counts()

1    4521
0    3886
Name: minor_key, dtype: int64

In [118]:
df['tempo'] = pd.cut(df.bpm, [0, 90, 108, 156, np.inf], labels=['slow', 'medium', 'fast', 'very_fast'])

In [119]:
df.tempo.value_counts()

medium       3876
fast         2995
very_fast    1121
slow          415
Name: tempo, dtype: int64

In [105]:
df.bpm.min()

69.0

In [106]:
df.bpm.max()

179.0

In [108]:
df.bpm.mode()

0    100.25
dtype: float64

In [128]:
df.sample().T

                         741
track_id                  17
genre_x            classical
amazement                  0
solemnity                  0
tenderness                 1
nostalgia                  1
calmness                   1
power                      0
joyful_activation          0
tension                    0
sadness                    0
mood                       3
liked                      1
disliked                   0
age                       21
gender                     0
key                      Gbm
bpm                     91.0
ind_sublime                3
ind_energy                 0
ind_unease                 0
energized                  0
feel_sublime               1
agitated                   0
minor_key                  1
tempo                 medium

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8407 entries, 0 to 8406
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   track_id           8407 non-null   int64
 1   genre_x            8407 non-null   object
 2   amazement          8407 non-null   int64
 3   solemnity          8407 non-null   int64
 4   tenderness         8407 non-null   int64
 5   nostalgia          8407 non-null   int64
 6   calmness           8407 non-null   int64
 7   power              8407 non-null   int64
 8   joyful_activation  8407 non-null   int64
 9   tension            8407 non-null   int64
 10  sadness            8407 non-null   int64
 11  mood               8407 non-null   int64
 12  liked              8407 non-null   int64
 13  disliked           8407 non-null   int64
 14  age                8407 non-null   int64
 15  gender             8407 non-null   int64
 16  key                8407 non-null   object
 17  bpm                8407 non-null   float64
 18  ind_sublime        8407 non-null   int64
 19  ind_energy         8407 non-null   int64
 20  ind_unease         8407 non-null   int64
 21  energized          8407 non-null   int64
 22  feel_sublime       8407 non-null   int64
 23  agitated           8407 non-null   int64
 24  minor_key          8407 non-null   int64
 25  tempo              8407 non-null   category
dtypes: category(1), float64(1), int64(22), object(2)
memory usage: 1.9+ MB

In [131]:
#target will be energized
#columns to keep: track_id, genre_x, feel_sublime, agitated, mood, liked, disliked, age, gender, key, minor_key, tempo
df1 = df.filter(['track_id', 'genre_x', 'mood', 'age', 'gender', 'key', 'minor_key', 'tempo', 'liked', 'disliked',  'feel_sublime', 'agitated', 'energized'], axis=1)

In [132]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8407 entries, 0 to 8406
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   track_id      8407 non-null   int64
 1   genre_x       8407 non-null   object
 2   mood          8407 non-null   int64
 3   age           8407 non-null   int64
 4   gender        8407 non-null   int64
 5   key           8407 non-null   object
 6   minor_key     8407 non-null   int64
 7   tempo         8407 non-null   category
 8   liked         8407 non-null   int64
 9   disliked      8407 non-null   int64
 10  feel_sublime  8407 non-null   int64
 11  agitated      8407 non-null   int64
 12  energized     8407 non-null   int64
dtypes: category(1), int64(10), object(2)
memory usage: 1.1+ MB

In [133]:
df1.loc[900]

track_id               20
genre_x         classical
mood                    5
age                    73
gender                  0
key                    Bm
minor_key               1
tempo              medium
liked                   1
disliked                0
feel_sublime            1
agitated                0
energized               0
Name: 900, dtype: object

In [135]:
df1.describe()

,track_id,mood,age,gender,minor_key,liked,disliked,feel_sublime,agitated,energized
count,8407.000000,8407.000000,8407.000000,8407.000000,8407.000000,8407.000000,8407.000000,8407.000000,8407.000000,8407.000000
mean,171.121565,3.493874,31.850601,0.456167,0.537766,0.391459,0.208993,0.701201,0.365529,0.369097
std,116.888669,0.991124,12.457801,0.498105,0.498601,0.488106,0.406613,0.457759,0.481607,0.482589
min,1.000000,1.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,67.000000,3.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,164.000000,4.000000,28.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,278.000000,4.000000,37.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000
max,400.000000,5.000000,99.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Takeaways from .describe:  
    - Most folks mood's were between 2.5 and 4.5
    - The average age is 31 with most falling between 18-43
    - Looks like gender is nearly even
    - Looks like most songs are in a minor key
    - More people liked songs than disliked songs, but the majority were indifferent
    - Experiencing sublime emotion was common
    - Experiencing sadness/tension was less common

In [145]:
#does everything have to be numerical? or does that happen when it's time to model?
#it appears you can explore on categorical, but model on numerical. 
#So, do both so it's ready to model.

In [137]:
#My categorical columns are genre_x, key, and tempo.  
#Unless I find something significant with key, i will not model on that.

In [144]:

#yes, encode the categorical values for later on.
#genre
#tempo

#Need to split as soon as that's done
#Then start to visualize!
#Then formally state hypotheses
#Then run hypothesis tests
#Then establish baseline
#Create and run models.
#Re-iterate with the other emotional targets (feel_sublime and agitated)

In [139]:

#how to encode key?

In [142]:
df1.key.value_counts()

Am     808
G      575
C      557
Gm     535
D      534
A      475
Bm     456
B      428
F      408
Em     369
Abm    338
Fm     337
Dbm    330
Dm     322
E      303
Ebm    299
Cm     271
Gb     262
Bbm    234
Gbm    222
Ab     133
Db     120
Eb      91
Name: key, dtype: int64

In [143]:
#since classifying keys is gets complex beyond maj/min sonority, i'll leave it as it unless I find some significant relationship between emotion and particular keys.

In [147]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8407 entries, 0 to 8406
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   track_id      8407 non-null   int64
 1   genre_x       8407 non-null   object
 2   mood          8407 non-null   int64
 3   age           8407 non-null   int64
 4   gender        8407 non-null   int64
 5   key           8407 non-null   object
 6   minor_key     8407 non-null   int64
 7   tempo         8407 non-null   category
 8   liked         8407 non-null   int64
 9   disliked      8407 non-null   int64
 10  feel_sublime  8407 non-null   int64
 11  agitated      8407 non-null   int64
 12  energized     8407 non-null   int64
dtypes: category(1), int64(10), object(2)
memory usage: 1.1+ MB

In [148]:
genre_dummies = pd.get_dummies(df1.genre_x, drop_first=True)
genre_dummies.sample(5)

      electronic  pop  rock
2076           0    0     0
6637           0    1     0
667            0    0     0
6100           1    0     0
4718           0    0     1

In [149]:
df1 = pd.concat([df1, genre_dummies], axis=1)
df1.sample(2)

,track_id,genre_x,mood,age,gender,key,minor_key,tempo,liked,disliked,feel_sublime,agitated,energized,electronic,pop,rock
5583,218,electronic,2,26,1,F,0,fast,0,0,1,0,0,1,0,0
5467,215,electronic,2,26,1,Cm,1,slow,1,0,0,0,1,1,0,0

In [150]:
tempo_dummies = pd.get_dummies(df1.tempo, drop_first=True)
tempo_dummies.sample(5)

      medium  fast  very_fast
5319       0     1          0
367        1     0          0
3973       0     0          1
5763       0     1          0
5669       0     0          1

In [151]:
df1 = pd.concat([df1, tempo_dummies], axis=1)
df1.sample(2)

,track_id,genre_x,mood,age,gender,key,minor_key,tempo,liked,disliked,feel_sublime,agitated,energized,electronic,pop,rock,medium,fast,very_fast
4915,204,electronic,5,48,0,Am,1,fast,0,0,0,0,0,1,0,0,0,1,0
4586,191,rock,3,30,0,A,0,slow,0,1,1,1,0,0,0,1,0,0,0